@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mc-primary-button {
    @apply w-full h-[92px]  bg-primary text-white leading-[92px] font-bold text-[32px] rounded-xl after:border-transparent;
  }

  .mc-default-button {
    @apply w-full h-[92px] bg-white text-primary leading-[92px] font-bold text-[32px] rounded-xl after:border-transparent;
  }

  .mc-page {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

page {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", helvetica neue, helvetica, ubuntu,
    roboto, noto, segoe ui, Arial, sans-serif;
  line-height: 1.15;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
