@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mc-primary-button {
    @apply w-full h-[92px]  bg-primary text-white leading-[92px] font-bold text-[32px] rounded-xl after:border-transparent;
  }

  .mc-default-button {
    @apply w-full h-[92px] bg-white text-primary leading-[92px] font-bold text-[32px] rounded-xl after:border-transparent;
  }
}

/* 每日推荐动画 */
@keyframes daily-recommend-bg {
  0% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 50% 100%;
  }
}

/* 私人FM动画 */
@keyframes personal-fm {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

page {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", helvetica neue, helvetica, ubuntu,
    roboto, noto, segoe ui, Arial, sans-serif;
  line-height: 1.15;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
